.header {
  background-color:rgb(238, 85, 58);
  background-image: linear-gradient(to right,#8E0E00, #1F1C18);
  height: 80px;

}

.title {
  color:white;
  padding-top: 10px;
  text-align: center;
}

.video_groups{
  height: 65vh;
  position: relative;
  
}
.WeTube_Player{
  width: 100%;
  margin-left: 0%;
  padding-left: 0%;
}
.video_search{

}
.search_divide{
 color:black;
}
.search_area{
  position:absolute;
}
.search_list{
  margin-top: 10px;
  overflow-y: scroll;

}
.action_buttons{
  position:relative;
  top:30px;
}
.playlist_button{
  width: 8.1vh;
}
.login_button{
  width: 8.1vh;
}
.groups_button{
  width: 8.3vh;
}
.users_button{
  width: 8.3vh;
}

.searchButton{
  width: 3.6vh;
}
.resizedTextbox{
   width: 29vh;

}
.group_window{
   border-style: solid;
   border-width: 1px;
}
.video_window{
  padding: 0;
  margin-left: 0%;
  border-style: solid;
  border-width: 1px;
  /*background-color: palevioletred;*/
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container {
  border: 2px solid rgb(200,200,200);
  background-color: rgb(200,250,200)
}
